<h1>Ask a questiong to Open Flag API</h1>
<form>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Are You a...</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>Developer</option>
      <option>Flag Enthusiest</option>
      <option>History Enthusiest</option>
      <option>Crazy Person</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
    <div class="form-group col-md-4">
      <label for="inputState">Type</label>
      <select id="inputState" class="form-control">
        <option selected>What do you call this message?</option>
        <option value="Question">Question</option>
        <option value="Suggestion">Suggestion</option>
      </select>
    </div>
  
  </div>
  
  <button type="submit" class="btn btn-primary">Ask</button>
</form>
faqs