@media (max-width: 1200px) {
  button {
    width: 200px;
  height: 75px;}

  input{
    height: 75px;
    width: 300px;
  }
}
body::-webkit-scrollbar {
  display: none;
}


#topButt{
  opacity: .3;
  font-weight: 900;
  padding: 0 0 0 2vw;
  position: fixed;
  bottom: 0;
  left: 0;
 font-size: 165px;
}

body{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

img{
    height: 100%;
    width: 100%;
}

#topNav{
  padding: 3rem;
}
.navLinks{
    margin:1vw;
    font-size: 35px;
}

#upPic{
  height: 50%;
  width: 50%;
}


.dropbtn {
  padding-top: 1vw;
    -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    background-color: pink;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: lightpink;
  }
  
  .dropdown {
    -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    min-width: 160px;
    overflow: auto;
    -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
  }
  
  .dropdown a:hover {  background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);}
  
  .show {display: block;}

#pix{
  height: 100%;
  width: 100%;
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    align-items: flex-start;
   
}

@media (max-width: 768px) {
    #pix {
background-color: #000;
    }

  }



#picBox{
    position: relative;
height: 32vw;
width: 48.5vw;
    -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    align-items: center;
    padding-bottom:13vw;
    margin-left: .5em;
    margin-top: 1em;
    margin-bottom: 6em;
    word-wrap: break-word;
    font-size: 1.5vw;
    text-align: center;
    
}

@media (max-width: 1200px) {
#picBox {
  height: 65vw;
width: 105vw;
    color: wheat;
    margin: 0;
    padding: 0 0 13em 0;
    font-size: 3.5vw;
    margin-bottom: 10em;
    

  }
}

@media (min-width: 2100px) {
    #picBox {
        position: relative;
        height: 13vw;
        width: 19vw;
            -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
            -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
            box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
            align-items: center;
            padding-bottom:13vw;
            margin-bottom: 5em;
            margin-left: 1em;
            margin-top: 1em;
            word-wrap: break-word;
            font-size: .75vw;
      }

      
    }



#keywords{    
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
  -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
  box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
  align-items: flex-start;
  font-size: 1.5vw;
  list-style: none;
  overflow: hidden;
}

@media (min-width: 2100px) {
  #keywords{  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    align-items: flex-start;
    font-size: .7vw;
    list-style: none;
  }
}
@media (max-width: 1200px) {
  #keywords{  
    display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
  -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
  box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
  align-items: flex-start;
  font-size: 3vw;
  list-style: none;
  overflow: hidden;
  }
}


#keywords>li{
  padding: .5vw;
}

@media (min-width: 2100px) {
  #keywords>li{
     padding: .2vw;
  }
}
#likeBox{
  padding-left: 17.5vw;
  height: 6vw;
  position: relative;
align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;

  align-items: flex-start;
  font-size: 2vw;
  list-style: none;
  overflow: hidden;
}

@media (min-width: 2100px) {
  #likeBox{  
    padding-left: 6.35vw;
  height: 3vw;
  position: relative;
align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
font-size: 25px;
  align-items: flex-start;
  list-style: none;
  overflow: hidden;
  }
}

@media (max-width: 1200px) {
  #likeBox{  
    padding-left: 30vw;
  height: 12vw;
  position: relative;
align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  font-size: 3.5vw;
  list-style: none;
  overflow: hidden;

  }
}

#likeButt{
  font-size: 40px;
  background-color: green;
}

#dLikeButt{
  font-size: 40px;
  background-color: red;
}



@media (min-width: 2100px) {
  #likeButt{ font-size: 25px;}
  #dLikeButt{ font-size: 25px;}}
  @media (max-width: 2100px) {
    #likeButt{ font-size: 55px;}
    #dLikeButt{ font-size: 55px;}}

.yayBox{
  color: green;

}
.nayBox{
  color: red;
  padding-left: 2vw;
}

#fileChooseButt{
    font-size: 50px;

    background: #454C87;
    color: wheat;
}
#upladButt{
    font-size: 50px;

    background: #000;
    color: wheat;
}

#upload {
    float: right;
    font-size: 45px;
}
#search{
  font-size: 2vw;
  float: right;
}

#nameInput{
  font-size: 2vw;
  height: 50px;
  width: 300px;
}

#searchButt{
  width: 200px;
  height: 50px
}


#upladContainer{
    font-size: 50px;
    
    margin: 30vw 10vw 40vw 10vw;
    position: relative;
    text-align: center;
    align-items: center;
    align-content: center;
}

#buttBox{
    background: green;
}